@import "primeflex/primeflex.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap");

$font-family-sans-serif: "Poppins", sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

body {
  font-family: $font-family-sans-serif;
  color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray-900);

  overflow-y: hidden;
  overflow-x: hidden;

  max-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

.p-password-input {
  width: 100%;
}

.p-password-info {
  width: 100%;
}

.p-password {
  width: 100%;
}
